<!DOCTYPE html>
<!--suppress JSUnresolvedVariable-->
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>主页 - 啊对网盘</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.37/vue.global.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script src="./static/js/index.js" defer></script>
</head>
<style>
    html, body, #app {
        height: 100%;
        background-color: #f4f6f9;
    }

    li.mb-2 {
        list-style-type: none;
    }

    li.mb-2 > a {
        text-decoration: none;
    }

    li.mb-2 > a i {
        color: black;
    }
</style>
<body>
<div id="app">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark container-fluid">
        <!-- 导航栏LOGO -->
        <a class="navbar-brand">用户：{{username}}</a>

        <!-- 自适应弹出按钮 -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
                aria-label="折叠">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 导航栏菜单 -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- 修改用户信息按钮 -->
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal"
                       data-bs-target="#updateInfoModal">
                        <i class="fa-solid fa-pen-to-square fa-fw" style="font-size: 20px;"></i>
                        修改用户信息
                    </a>
                </li>
                <!-- 上传文件按钮 -->
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal"
                       data-bs-target="#uploadModal">
                        <i class="fa-solid fa-cloud-arrow-up fa-fw" style="font-size: 20px;"></i>
                        上传文件
                    </a>
                </li>
                <!-- 新建目录按钮 -->
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-bs-toggle="modal"
                       data-bs-target="#mkdirModal">
                        <i class="fa-solid fa-folder-plus fa-fw" style="font-size: 20px;"></i>
                        新建目录
                    </a>
                </li>
                <!-- 退出账号按钮 -->
                <li class="nav-item my-nav-item">
                    <a class="nav-link" href="javascript:void(0);" @click="logout">
                        <i class="fa-solid fa-right-from-bracket fa-fw" style="font-size: 20px;"></i>
                        退出账号
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="height: calc(100% - 56px);">
        <div class="card" style="height: 100%">
            <div class="card-header">
                <h4 class="card-title">{{path}}</h4>
            </div>
            <div class="card-body">
                <div class="col-12 row mb-2" style="padding-left: 32px;">
                    <div class="col-7">
                        文件名
                    </div>
                    <div class="col-2">
                        大小
                    </div>
                    <div class="col-3">
                        类型
                    </div>
                </div>
                <ul>
                    <li class="mb-2" v-for="item in items" :data-name="item.name" :data-path="item.path">
                        <a :href="item.href" @contextmenu.prevent="contextmenu" :data-name="item.name"
                           :data-path="item.path">
                            <div class="row" :data-name="item.name" :data-path="item.path">
                                <span class="col-7" :data-name="item.name" :data-path="item.path">
                                    <i :class="item.i_class" class="fa-fw" :data-name="item.name"
                                       :data-path="item.path"></i>
                                    {{item.name}}
                                </span>
                                <span class="col-2" :data-name="item.name" :data-path="item.path">{{item.size}}</span>
                                <span class="col-3" :data-name="item.name" :data-path="item.path">{{item.type}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 修改用户信息模态框 -->
<div class="modal fade" id="updateInfoModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">修改用户信息</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form id="updateForm" @submit.prevent="submit">
                    <div class="mb-3">
                        <label for="uidIn" class="form-label">用户账号</label>
                        <input type="text" class="form-control" id="uidIn" v-model="uid" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="passwordIn" class="form-label">密码</label>
                        <input type="password" class="form-control" id="passwordIn"
                               placeholder="为空则不更改密码" v-model="password">
                    </div>
                    <div class="mb-3">
                        <label for="usernameIn" class="form-label">用户名称</label>
                        <input type="text" class="form-control" id="usernameIn" v-model="username">
                    </div>
                    <div class="mb-3">
                        <label for="sexIN" class="form-label">性别</label>
                        <select class="form-select" id="sexIN" v-model="sex">
                            <option value="M">男</option>
                            <option value="F">女</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="informationIN" class="form-label">用户信息</label>
                        <input type="text" class="form-control" id="informationIN" v-model="information">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="updateForm">修改</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<!-- 上传文件模态框 -->
<div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">上传文件</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form id="uploadForm" @submit.prevent="submit">
                    <div class="mb-3">
                        <label for="currentPath" class="form-label">当前目录</label>
                        <input type="text" class="form-control" id="currentPath" v-model="path" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">文件</label>
                        <input type="file" class="form-control" id="file">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="uploadForm">上传</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

<!-- 新建目录模态框 -->
<div class="modal fade" id="mkdirModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">新建目录</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form id="mkdirForm" @submit.prevent="submit">
                    <div class="mb-3">
                        <label for="mkdirPath" class="form-label">目录地址</label>
                        <input type="text" class="form-control" id="mkdirPath" v-model="path">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="mkdirForm">创建</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>